{% load static %}

{% block page_header %}
    
{% endblock %}

<div class="container">
		
    <h1>FAQs</h1>
    
    <h2>Do you ship to my country?</h2>

    <p>Yes we deliver worldwide, for more information please see our <a href="../deliveries-and-returns/" title="View our delivery information and returns policy">Deliveries &amp; Returns page</a></p>

    <h2>How do I contact Vintage Football Shirts?</h2>

    <ul>
       
        <li>Email: retrofootballkits99@gmail.com</li>
        <li>Facebook <a href="https://www.facebook.com/profile.php?id=100095689206374" title="Find us on Facebook (opens new window)" target="_blank">Retro football kits</a></li>
    </ul>

    <h2>What are the delivery costs? And how long does it take?</h2>

    <ul>
        <li>An Post standard post €5.99(1 - 3 days)</li>
        <li>An Post  Special Next Day Delivery €8.99 (if ordered before 3pm)</li>
        <li>Europe - An Post International Signed For €11.99 (3 - 7 days)</li>
        <li>Rest of World - An Post International Signed For €15.99 (5 - 10 days)</li>
    </ul>

    <h2>I want to order more than one shirt, does this shipping charge change?</h2>

    <p>The shipping charges are for up to 8 shirts, the website will automatically calculate this for you, any more than 8, postage charges will double.</p>

    <h2>Do you supply a tracking number?</h2>

    <p>Yes, when your items have been shipped, we will include a tracking number with a link to check progress.</p>

    <h2>Which methods of payment do you accept?</h2>
    
    <ul>
        <li>PayPal</li>
        <li>Credit cards (MasterCard, Visa or American Express)</li>
        <li>Debit cards (Visa Debit / Delta, Maestro, Solo or Visa Electron)</li>
    </ul>

    <p>We also accept Bank transfers, Cheques and postal orders, please <a href="{% url 'contact' %}" title="Get in touch with Vintage Football Shirts">contact us</a> for details.</p>

    <h2>Is placing an order secure?</h2>
    
    <p>Yes, all payments for our products are taken securely through PayPal for your protection and peace of mind.</p>

    <h2>I haven’t received an order confirmation or shipping confirmation?</h2>

    <p>Please check your spam email folder.</p>

    <h2>Are the shirts original and official?</h2>

    <p>Yes all the items on the website are official from the dates stated.</p>

    <h2>What are the conditions of the shirts?</h2>

    <p>Please see the condition details in the item description i.e.</p>

    <ul>
        <li>BNIB - Brand new in bag</li>
        <li>BNWT - Brand new with tags</li>
        <li>As new - Like new condition but no tags</li>
        <li>Mint - superb example, may be unworn</li>
        <li>Excellent - may have tiny defect, may not be noticeable</li>
    </ul>

    <h2>Have any other questions?</h2>